@import url("./reset.css");
@import url("./variables.css");
@import url("./container.css");

/* header-start */

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  border-radius: 10px;
  background-color: #eaeaea;
  margin-bottom: 8px;
  @media (min-width: 1280px) {
    padding: 10px 12px;
    margin-bottom: 12px;
  }
}

.header_logo {
  border-radius: 100%;
  opacity: 0.8;
  width: 120px;
  height: 70px;
  @media (min-width: 1280px) {
    width: 140px;
    height: 90px;
  }
}

.header_menu_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border: 2px solid #1a1a1a;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
}

.header_menu_icon {
  color: #1a1a1a;
}

/* header-end */

/* hero-start */

.hero_section {
  padding: 8px 12px;
  margin-bottom: 10px;
  @media (min-width: 1280px) {
    padding: 10px 14px;
    margin-bottom: 12px;
  }
}

.hero_title {
  font-family: var(--title-font);
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 6px;
  @media (min-width: 1280px) {
    font-size: 40px;
    margin-bottom: 8px;
  }
}

.hero_text {
  font-family: var(--text-font);
  color: var(--text-color);
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 6px;
  @media (min-width: 1280px) {
    font-size: 24px;
    margin-bottom: 10px;
  }
}

.hero_btn {
  display: flex;
  justify-content: center;
  font-family: var(--text-font);
  font-size: 20px;
  font-weight: 600;
  margin: 0 auto;
  padding: 10px 12px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #00ff00;
  color: #ffffff;
  @media (min-width: 1280px) {
    font-size: 22px;
  }
}

/* hero-end */

/* about-start */

.about_section {
  margin-bottom: 10px;
  @media (min-width: 1280px) {
    margin-bottom: 12px;
  }
}

.about_title {
  font-family: var(--title-font);
  color: var(--title-color);
  font-size: 26px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 6px;
  @media (min-width: 1280px) {
    font-size: 32px;
    margin-bottom: 8px;
  }
}

.about_text {
  font-family: var(--text-font);
  color: var(--text-color);
  font-size: 18px;
  font-weight: 800;
  padding: 4px 6px;
  margin-bottom: 6px;
  @media (min-width: 1280px) {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.about_img {
  border-radius: 10px;
  margin-bottom: 10px;
  width: 344px;
  height: 344px;
  @media (min-width: 1280px) {
    display: flex;
    margin: 0 auto;
    margin-bottom: 12px;
    width: 736px;
    height: 600px;
  }
}

.about_btn {
  display: flex;
  justify-content: center;
  font-family: var(--text-font);
  font-size: 20px;
  font-weight: 600;
  margin: 0 auto;
  padding: 10px 12px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #00ff00;
  color: #ffffff;
  @media (min-width: 1280px) {
    font-size: 22px;
  }
}

/* about-end */

/* bonus-start */

.bonus_section {
  margin-bottom: 10px;
  @media (min-width: 1280px) {
    margin-bottom: 12px;
  }
}

table {
  border: 2px solid #1a1a1a;
  border-radius: 10px;
  margin-bottom: 8px;
  @media (min-width: 1280px) {
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

.bonus_title {
  font-family: var(--title-font);
  color: var(--title-color);
  font-size: 26px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 6px;
  @media (min-width: 1280px) {
    font-size: 32px;
    margin-bottom: 8px;
  }
}

.bonus_text {
  font-family: var(--text-font);
  color: var(--text-color);
  font-size: 18px;
  font-weight: 800;
  padding: 4px 6px;
  margin-bottom: 6px;
  @media (min-width: 1280px) {
    font-size: 20px;
    margin-bottom: 8px;
  }
}

.bonus_th {
  font-family: var(--title-font);
  color: var(--title-color);
  font-size: 20px;
  padding: 2px;
  border-bottom: 2px solid #1a1a1a;
  border-radius: 10px;
  @media (min-width: 1280px) {
    font-size: 24px;
    padding: 4px;
  }
}

.bonus_td_title {
  font-family: var(--text-font);
  color: var(--text-color);
  font-size: 16px;
  font-weight: 800;
  padding: 2px;
  border-bottom: 2px solid #1a1a1a;
  border-radius: 10px;
  @media (min-width: 1280px) {
    font-size: 20px;
    padding: 4px;
    text-align: center;
  }
}

.bonus_td_descr {
  font-family: var(--text-font);
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  padding: 2px;
  border-bottom: 2px solid #1a1a1a;
  border-radius: 10px;
  @media (min-width: 1280px) {
    font-size: 20px;
    padding: 4px;
    text-align: center;
  }
}

.bonus_img {
  border-radius: 10px;
  margin-bottom: 10px;
  width: 344px;
  height: 200px;
  @media (min-width: 1280px) {
    display: flex;
    margin: 0 auto;
    margin-bottom: 12px;
    width: 734px;
    height: 450px;
  }
}

.bonus_btn {
  display: flex;
  justify-content: center;
  font-family: var(--text-font);
  font-size: 20px;
  font-weight: 600;
  margin: 0 auto;
  padding: 10px 12px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #00ff00;
  color: #ffffff;
  @media (min-width: 1280px) {
    font-size: 22px;
  }
}

/* bonus-end */

/* strategy-start */

.strategy_section {
  margin-bottom: 10px;
  @media (min-width: 1280px) {
    margin-bottom: 12px;
  }
}

.strategy_title {
  font-family: var(--title-font);
  color: var(--title-color);
  font-size: 26px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 6px;
  @media (min-width: 1280px) {
    font-size: 32px;
    margin-bottom: 8px;
  }
}

.strategy_list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 8px;
  @media (min-width: 1280px) {
    gap: 8px;
    margin-bottom: 10px;
  }
}

.strategy_item {
  display: flex;
  flex-direction: column;
  gap: 6px;
  @media (min-width: 1280px) {
    gap: 8px;
  }
}

.strategy_item_title {
  font-family: var(--title-font);
  color: var(--title-color);
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  font-style: italic;
  @media (min-width: 1280px) {
    text-align: start;
    font-size: 26px;
  }
}

.strategy_item_text {
  font-family: var(--text-font);
  color: var(--text-color);
  font-size: 18px;
  font-weight: 600;
  @media (min-width: 1280px) {
    font-size: 20px;
  }
}

.strategy_item_text::before {
  content: "⚡";
}

.strategy_btn {
  display: flex;
  justify-content: center;
  font-family: var(--text-font);
  font-size: 20px;
  font-weight: 600;
  margin: 0 auto;
  padding: 10px 12px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #00ff00;
  color: #ffffff;
  @media (min-width: 1280px) {
    font-size: 22px;
  }
}

/* strategy-end */

/* faq=start */

.faq_section {
  margin-bottom: 10px;
  @media (min-width: 1280px) {
    margin-bottom: 12px;
  }
}

.faq_title {
  font-family: var(--title-font);
  color: var(--title-color);
  font-size: 26px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 6px;
  @media (min-width: 1280px) {
    font-size: 32px;
    margin-bottom: 8px;
  }
}

.faq_list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  @media (min-width: 1280px) {
    gap: 8px;
  }
}

.faq_item {
  display: flex;
  flex-direction: column;
  gap: 6px;
  @media (min-width: 1280px) {
    gap: 8px;
  }
}

.faq_item_title {
  font-family: var(--title-font);
  color: var(--title-color);
  font-size: 20px;
  font-weight: 800;
  @media (min-width: 1280px) {
    font-size: 26px;
  }
}

.faq_item_text {
  font-family: var(--text-font);
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  @media (min-width: 1280px) {
    font-size: 20px;
  }
}

/* faq-end */

/* footer-start */

.footer {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  border-radius: 10px;
  background-color: #eaeaea;
  @media (min-width: 1280px) {
    padding: 8px 12px;
  }
}

.footer_logo {
  border-radius: 100%;
  opacity: 0.8;
  width: 120px;
  height: 70px;
  @media (min-width: 1280px) {
    width: 140px;
    height: 90px;
  }
}

.footer_text {
  font-family: var(--text-font);
  color: var(--text-color);
  font-size: 12px;
  margin-left: auto;
  margin-top: auto;
  max-width: 151px;
  @media (min-width: 1280px) {
    max-width: fit-content;
    font-size: 14px;
  }
}

/* footer-end */

.mob_menu_wrapper {
  position: absolute;
  background-color: #eaeaea;
  border-radius: 10px;
  padding: 10px 12px;
  width: 344px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s ease, opacity 0.5s ease;
  @media (min-width: 1280px) {
    display: none;
  }
}

.active {
  visibility: visible;
  opacity: 1;
}

/* mob-menu-start */

.mob_menu_nav {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mob_menu_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  gap: 8px;
}

.mob_menu_link {
  font-family: var(--title-color);
  color: var(--title-color);
  font-size: 20px;
  font-weight: 600;
}

.mob_menu_link::before {
  content: "⚡";
}

/* mob-menu-end */

/* web-menu-start */

.web_menu_list {
  display: flex;
  gap: 8px;
}

.web_menu_link {
  font-family: var(--title-font);
  color: var(--title-color);
  font-size: 20px;
  font-weight: 600;
}

.web_menu_link::before {
  content: "⚡";
}

/* web-menu-end */
